{% extends 'app/base.html.twig' %}
{% block topnav %}
    <a href="{{ path('app_article_list') }}">Вернуться назад </a>
    {{ parent() }}
{% endblock %}
{% block body %}

    <h3>Создана: {{ created_at }}</h3>
    <h1>Статья {{ title }}</h1>
    <h2>Количество просмотров: {{ count_views }}</h2>
    <h2>Активность: {{ is_active }}</h2>
    <h2>Описание: {{ description }}</h2>

{% endblock %}
